{
    "timeout": 2,
    "source": {
        "directories": ["src"]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "FunctionCallRemoval": {
            "ignore" : [
                "Dsantang\\DomainEventsDoctrine\\EventsRecorder\\OrderedDoctrineEventsRecorder::onFlush"
            ]
        },
        "UnwrapArrayMerge" : {
            "ignore": [
                "Dsantang\\DomainEventsDoctrine\\EventsRecorder\\DoctrineEventsRecorder::onFlush"
            ]
        },
        "CloneRemoval" : {
            "ignore": [
                "Dsantang\\DomainEventsDoctrine\\Outbox\\OutboxMappedSuperclass::fromOutboxEntry"
            ]
        },
        "InstanceOf_" : {
            "ignore": [
                "Dsantang\\DomainEventsDoctrine\\Outbox\\OutboxMappedSuperclass::fromOutboxEntry",
                "Dsantang\\DomainEventsDoctrine\\Outbox\\EventsHandler::getDeletionAwareEntities"
            ]
        }
    }
}
