{
    "timeout": 2,
    "source": {
        "directories": ["src"]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "FunctionCallRemoval": {
            "ignore" : [
                "Dsantang\\DomainEventsDoctrine\\EventsRecorder\\OrderedDoctrineEventsRecorder::onFlush"
            ]
        }
    }
}
