includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
          message: '#Call to an undefined method PHPUnit.#'
          paths:
            - tests/Integration/OrderedEventsIntegrationTest.php